/*
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   padding-right: 8px;
   padding-top: 10px;
}
#body {
   padding:5px;
}*/
/*
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   padding-right: 8px;
   padding-top: 10px;
}
#body {
   padding:5px;
}*/

/*
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:75px;            
  text-align: center;
  font-size: 12px;
}
*/


.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


a {
  text-decoration: none;
}
/*
ul {
   list-style-type: none;
   padding: 0px;
}*/

select {
  max-width: 90%;
  font-family: "arial"; /*"Open Sans", sans-serif;*/
  font-size: 16px;
}


body {
  background-color:  #222621;
  color: white;
  font-family: "arial";
  /*margin: auto;*/
}

hr {
   color: white;
  /*border-top: 1px solid white;*/
}

.panel_line {
  color: none;
  border-top: 1px solid white;
  border-bottom: none;
  margin-left: -8px;
  margin-right: -8px;
}

.title {
  font-size: 26px;
  font-family: "arial";
  color: white; /*#ddccbb;*/
  font-weight: 400;
  display: block;
  /*margin: 10px 0;*/
}

.header2 {
  font-size: 18px; 
  font-family: "arial";/*"Open Sans", sans-serif;*/
  color: #ddccbb;
  font-weight: 400;
  display: block;
  /*margin: 10px 0;*/
  margin: 5px 0;
}

.table_header2 {
  font-size: 14px;
  font-family: "arial";
  color: #ddccbb;
  font-weight: 400;
  display: block;
  margin: 0px;
  text-align: right;
}

.selector_label {
  font-size: 18px; /*18px;*/
  font-family: "arial";
  color: #ddccbb;
  font-weight: 400;
  padding: 4px 0px;
  text-align: right;
}


.table_head {
  font-size: 16px; /*18px;*/
  font-family: "arial";
  color: white; /*#ddccbb;*/
  font-weight: 400;
  padding: 4px 0px;
  text-align: right;
}


.table_text {
  font-size: 16px;
  font-family: "arial";
  color: white;
  font-weight: 600;
  padding: 4px 0;
  text-align: left;
  padding-left: 20px;
  max-width: 250px;
  overflow: auto;
  white-space: normal;
}

.table_center_text {
  font-size: 16px; /*16px;*/
  font-family: "arial";
  color: white;
  font-weight: 400;
  padding: 4px 0;
  text-align: center;
  overflow: auto;
  white-space: normal;
}

.combo_label {
   font-size: 18px; 
   font-family: "arial"; /*"Open Sans", sans-serif;*/
   color: #ddccbb;
   font-weight: 400;   
   width: 150px;
   display:inline-block; 
   text-align: center; /*right;*/
   padding-right: 10px;
}


.dep_panel {
  /*margin: auto;*/
  background-color: #2a3829; /*#172027;*/
  /*max-width: 450px;
  min-width: 250px;*/
  border: 1px solid white;
  border-style: solid;
  border-radius: 30px;
  padding:  30px;
  text-align: center;
}


.panel_center {
  display: flex;
  justify-content:  center;
  align-items: center;
  height: 800px;
}

.panel {
  margin: 0 auto;
  /*
  background-color: #2b3628;
  border: 1px solid white;
  border-style: solid;
  border-radius: 30px;
  padding: 0px 30px;*/

  /*
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;  */
  text-align: center;
}

.sign_in_panel {
  margin: 0 auto;
  background-color: #2a3829; /*#222621;*/ /*#2b3628;*/
  border: 1px solid white;
  border-style: solid;
  border-radius: 30px;

  width: 400px; 
  padding-top: 25px;
  padding-bottom: 25px;

  text-align: center; 
}

/*
#seadragon_viewer {

  height: 650px;
  border:  1px solid white;
  background-color: #222621;*/

    /*
    margin: auto;
    */
    /*width: 50%;*/ /*800px;*/




    /*margin-top: 10px;*/
    /*border-radius: 15px 15px;*/
    /*
}
*/

.viewer {
  height: 800px; /*720px;*/ /*650px;*/
  border:  1px solid white;
  background-color: #222621;
  box-sizing: border-box;
}

#chart_container {
  border:  1px solid white;
  background-color: #222621;
}

.table_label {
   background-color: black;
   color: white;
   border-radius: 4px;
   border: 1px solid white;
   /*padding: 8px 4px;*/
   text-align: left;
   display: inline-block;
   /*margin: 4px;*/
   margin: 0px 0px;
   /*padding: 10px 10px;*/

   padding: 5px 10px;
   cursor: pointer;
}


/*
tr:first-child{ ;}*/
/*
.table_checkbox_entry {
  cursor: pointer;
}*/

.table_entry_container {
  margin: 0px 5px;
  padding: 5px;
}


.table_header {
  background-color:  #222621;
  color: white;
  /*border-radius: 4px;*/
  /*width: fit-content;*/
  text-align: center;
  font-size: 16px;
  /*margin: 5px 10px;*/
  /*
  margin: 0px 10px;
  padding: 5px 10px;*/
  
  /*
  margin: 0px 10px;*/
  margin: 0px 5px;
  padding: 5px;
  border-bottom: 1px solid white;
}


.object_entry {
  padding: 5px;
  border: 1px solid white;
  background-color: #222621; /* #6f6449; /*#003f5e; /*#9c9179; /*#4c6645;*/
  font-size: 14px;
  border-radius: 50px;
  text-align: center;

  display: inline-block;
  /*padding: 5px;*/
  width: 95%;
}









.table_entry {
  background-color:  #222621;
  /*
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  */
  /*width: fit-content;*/
  text-align: center;
  font-size: 16px;
  /*margin: 5px 10px;*/
  margin: 0px 5px;
  padding: 5px;

  /*
  margin: 0px 10px;
  padding: 5px;*/
  /*margin:  5px;*/
  /*padding: 5px 5px;*/
  /*margin: 15px 15px;*/
  /**/
  /*
  margin: 0px 5px;
  padding: 5px;*/
}

.table_button {
  /*width:  fit-content;*/
  word-break: break-all;
  background-color:  #222621;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  /*margin: 0px;*/
  /*
  margin: 0px 10px;
  padding: 5px 10px;*/
  transition: all 0.5s;
  cursor: pointer;
  padding: 5px;
  margin: 0px 5px;
  /*
  margin:  0px 10px;
  padding:  5px;*/
  /*padding: 5px 5px;*/
}

.table_button_hover:hover {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px rgba(255,255,100,1);
  text-shadow: 0px 0px 10px rgba(255,255,100,1);
}


.table_button:active {
  background-color: rgba(0,0,0,0.8); /* white; *//*#e5e5e5;*/
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
/*
.backend_status {
  display: inline-block;
  background-color: #222621;
  border: 1px solid white;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 2px;
  width: 95%;
}*/

.json_text_area {
  width: 100%;
  /*min-height: 30rem;*/
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8rem;
  line-height: 1.2;
  border: 1px solid white;
}


.std-button {
  display: inline-block;
  border-radius: 30px;
  background-color: #2a3829; /*#998866;*/
  border: 1px solid white; /*none;*/
  color: white;
  text-align: center;
  font-size: 18px;
  /*padding: 5px 5px;*/
  padding: 5px;
  /*margin: 0px 5px;*/
  width: 95%;
  transition: all 0.5s;
  cursor: pointer;
  /*margin: 5px 5px;*/
}


.std-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.std-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* button hover is a separate class so that hover animation 
   can be disabled by removing the class in jQuery */
.std-button-hover:hover span {
  padding-right: 25px;
}

.std-button-hover:hover span:after {
  opacity: 1;
  right: 0;
}

.std-button-hover:hover {
  background-color: #4c6645; /*#cc9923;*/
}

.x-button {
  display: inline-block;
  border-radius: 30px;
  background-color: #570c06; /*#998866;*/
  border: 1px solid white; /*none;*/
  color: white;
  text-align: center;
  font-size: 18px;
  /*padding: 5px 5px;*/
  padding: 5px;
  /*margin: 0px 5px;*/
  width: 95%;
  transition: all 0.5s;
  cursor: pointer;
  /*margin: 5px 5px; */
}


.x-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.x-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* button hover is a separate class so that hover animation 
   can be disabled by removing the class in jQuery */
.x-button-hover:hover span {
  padding-right: 25px;
}

.x-button-hover:hover span:after {
  opacity: 1;
  right: 0;
}

.x-button-hover:hover {
  background-color: #802626; /*rgb(143, 24, 15);*/ /*#cc9923;*/
}



.label {
  font-size: 18px; 
  font-family: "arial"; /*Open Sans", sans-serif;*/
  color: white; /*#ddccbb;*/
  font-weight: 400;
  display: block;
}



::-webkit-scrollbar {
  width: 20px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9c9179; /* #918b7d; /*#998866;*/
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: #222621;
}


.grid-container-2 { 
  margin: auto;
  /*width: 95%;*/
  display: grid;
  grid-gap: 10px; 
  /*padding: 5px;*/
  grid-template-columns: repeat(2, minmax(120px, 1fr))

}

.main_container {
  margin: auto;
  border: 1px solid white;
  background-color: #2a3829; /*#2b3628;*/
  text-align: center; 
  padding: 5px;
  border-radius: 10px;
}

.grid-container-1 {
  margin: auto;
  /*width: 95%;*/
  display: grid;
  grid-gap: 10px; 
  /*padding: 5px;*/
  grid-template-columns: repeat(1, minmax(120px, 1fr))

}
/* Designing all grid-items */ 
.grid-container-1 > div { 
    border: 1px solid white;
    background-color: #2a3829; /*#2b3628;*/
    text-align: center; 
    padding: 10px 25px;
} 


/* Designing all grid-items */ 
.grid-container-2 > div { 
    border: 1px solid white;
    background-color: #2a3829;
    text-align: center; 
    padding: 10px 25px;
} 


.half-round-item-1 { 
  border-radius:  50px 15px;
} 

.half-round-item-2 {
  border-radius:  15px 50px;
}


/*
a.nav {
  color: #eeddbb;
}*/

/* Style navigation bar */
ul.nav {
  width: 100%;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #2a3829;
  /*background: #998866;*/
  overflow: hidden;
  border-bottom: 1px solid white;
}

li.nav {
  float: left;
}

li.nav a.nav {
  text-align:center;
  display: block;
  padding: 8px 12px;
  outline: none;
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}

li.nav a.nav:hover {
  color: white;
  transition: 0.5s;
  background-color:  #4c6645;
  cursor:  pointer;
}

.tab-btn-active {
  color:  white;
  background-color:  #4c6645; /*#45633d;*/
}


.config_head {
  background-color: #222621;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding: 6px 18px;
  width: 95%;
  text-align: left;
  /*margin: 1px 0px;*/
  /*outline: none;*/
  font-size: 14px;
}

/*
.active, .collapsible:hover {
   background-color: rgba(0,0,0,0.8);
   box-shadow: 0px 0px 10px rgba(255,255,100,1);
   text-shadow: 0px 0px 10px rgba(255,255,100,1);
}*/


.config_content {
  padding: 0 18px;
  display: block;
  width: 95%;
  /*overflow: hidden;*/
  background-color: #222621;
  /*border:  1px solid white;*/
  text-align: left;
}
/*
input[type="radio"] {
   margin: 0 30px 0 30px;
}*/

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 48px;
  height: 21px;
  margin-bottom: 22px;
  margin-top: 5px;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input[type="date"] {
  color-scheme: dark;
}
/*
input[type="date"]::-webkit-calendar-picker-indicator { 
  background: transparent; 
}*/

.radio_label {
   margin-right: 5px; /*40px;*/
   margin-left: 5px;
}


.dropdown {
   background-color: #222621;
   color:  white;
   width:  320px;
   padding: 2px 0px;
}

.nonfixed_dropdown {
   background-color: #222621;
   color:  white;
   width:  100%;
   padding: 2px 0px;
   margin: 0px 0px;
}

.number_input {
   background-color: #222621;
   color:  white;
   padding: 2px 0px;
   font-size:  16px;
   border: 1px solid grey;
  /* padding-left: 5px;*/
}

.nonfixed_input {
  background-color: #222621;
  color:  white;
  padding: 2px 5px;
  /*padding-left:  3px;*/
  font-size:  16px;
  border: 1px solid grey;
  width:  90%;
  margin: 0px 0px;
}

.nonfixed_textarea {
  background-color: #222621;
  color:  white;
  padding: 2px 5px;
  font-size:  16px;
  border: 1px solid grey;
  width:  90%;
  margin: 0px 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #222621 inset !important;
    -webkit-text-fill-color: white !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}


/* modals for 'play' page */
/* mostly from https://www.w3schools.com/howto/howto_css_modals.asp */

/* the modal background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #222621;
  margin: auto;
  padding: 0;
  /*width: 80%;
  max-width:  650px;*/ /*550px;*/
  width: 650px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* the close button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close-hover:hover {
  /*color: rgba(255,255,100,1);*/
  /*color: rgb(190, 92, 92);*/
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  margin: 0px;
  padding: 0px 8px;
  margin-top: -20px;
  margin-bottom: -20px;
  background-color: #2a3829;
  color: white;
  font-size: 22px;
  border-top: 1px solid white;
}

.modal-body {
  margin: 0px;
  padding: 8px 8px;
  background-color: #222621;
  text-align: center;
}


.modal-footer {
  padding: 0px 8px;
  margin-bottom: 80px;
  background-color: #2a3829;
  color: white;
  height: 25px;
  border-bottom: 1px solid white;
}

table {
   margin-left: auto;
   margin-right: auto;
   background-color: transparent;
   border-spacing: 0;
   color: white;
}


/*
.transparent_table {

  background-color: transparent;
  border-spacing: 0;
  
  margin-left: auto;
  margin-right: auto;
}
*/


.scrollable_area {
    overflow-x: auto;
    overflow-y: auto;
    
    height: 320px;
    border: 1px solid white; 
    background-color: #222621;
    /*border-radius: 15px 15px;*/
}

.scrollable_padded_area {
    overflow-y: auto;
    overflow-x: auto;
    height: 320px;
    border: 1px solid white; 
    background-color: #222621;
    border-radius: 15px 15px;
    padding: 10px 25px;
    margin: 5px 5px;
}
/*
.head_area {*/
    /*overflow-x:  auto;*/
    /*border: 1px solid white;
    background-color: #222621;
    border-radius: 15px 15px;*/
    /*margin-bottom: -32px;*/

/*}*/

textarea, input[type=text], input[type=password] {
    width: 95%;
    margin: 5px 0 22px 0;
    display: inline-block;
    font-family: "arial"; /*'Montserrat', sans-serif;*/
    color: white;
    background-color: #222621;
    border: 1px solid white;
    font-size: 16px;
}

textarea {
    resize: none;
}

.autocomplete {
  color: white;
  background-color: #222621;
  border: 1px solid white;
  font-size: 16px;
}
/*
.tab-btn,.tab-button {
  font-size:  18px;
  width: fit-content;
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}
*/
.tab-btn {
  font-size: 16px;
  padding: 8px 8px;
  /*float: left;*/
  outline: 0;
  border:none;
  background-color: #998866;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  /*align:  left;*/
  /*display: block;*/
}

.loader {
  margin: 0 auto;
  border: 4px solid white;
  border-top: 4px solid #4c6645;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.check-loader {/*
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #4c6645;
  animation: check-loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 30px;
  height: 30px;*/


  margin: 0 auto;
 /* margin-bottom: 15px;*/
  border: 4px solid white;
  border-top: 4px solid #4c6645;
  border-radius: 50%;
  position: relative;
  vertical-align: top;
  width: 30px;
  height: 30px;
  animation: spin 1s infinite linear;

  background-color: #222621; /*white;*/
}



.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #4c6645;
  background-color: white; /*#222621;*/
  transition: border 500ms ease-out;
}


.loader-checkmark {
  display: none;
  
  /*
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  
  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: $check-height;
    position: absolute;
  }*/
}

.loader-checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: loader-checkmark-animation;
  transform: scaleX(-1) rotate(135deg);  
  /*display: block;*/
}

.loader-checkmark:after {
  opacity: 1;
  height: 12px;
  width: 5px;
  transform-origin: left top;
  border-right: 2px solid #222621;/*white;*/
  border-top: 2px solid #222621; /*white;*/
  content: '';
  left: 4px;
  top: 12px;
  position: absolute;
}


@keyframes loader-checkmark-animation {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 5px;
    opacity: 1;
  }
  40% {
    height: 12px;
    width: 5px;
    opacity: 1;
  }
  100% {
    height: 12px;
    width: 5px;
    opacity: 1;
  }
}

/*
.disabled-cls {
  cursor:  default;
}*/

.collapsible {
  padding: 5px;
  background-color: #998866;
  color:  white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid white;
}

.active, .collapsible:hover {
  background-color: #cc9923;
  transition: 0.5s;
}

.content {
  padding: 0px; /*18px 18px;*/
  display: none;
  overflow: hidden;
  background-color: #222621;
  
  border:  1px solid white;
  /*
  border-right:  1px solid white;*/
  /*border-radius: 30px;*/

}

.dark-bg {
  padding: 8px 8px;
  background-color: #222621;
  border:  1px solid white;
}

.col_left {
  float: left;
  width: 35%;
  text-align:  right;
 /* margin-top: 2px;*/
  margin: 6px 0px;
}

.col_right {
  float: left;
  width: 65%;
}

.col_label {
   font-size: 16px; 
   font-family: "arial"; /*"Open Sans", sans-serif;*/
   color: white; /* #ddccbb;*/
   font-weight: 400;

   /*text-align: right;
   padding-right: 10px;*/
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .col_left, .col_right {
    width: 100%;
    margin-top: 0;
  }
  .col_left {
    text-align:  left;
  }
}

.dropzone {
  /*width: 100px;*/
  /*height: 390px;*/
  /*height: 470px; *//*370px;*/
  /*border-top: 1px solid white;*/
  /*border-bottom: 1px solid white;*/
  /*border-style: dashed;*/
  /*border: 1px solid red;*/
  border: none;
  min-height: 0px !important;
  overflow-y:  auto;

}

.disabled_dropzone {
  pointer-events: none;
  cursor: default;
}

.dz-max-files-reached {
  pointer-events: none;
  cursor: default;
}
/*
.dz-error-mark svg {
	font-size: 54px;
	fill: #fff !important;
}*/

.dz-remove {
  /*
	z-index: 999;
	position: absolute;
	display: block;
	top: 0%;
	left: 0%;
	margin-left: -16px;
	margin-top: -16px;*/
  color: white;
  background-color: #802626; /* #570c06; /* #4c6645; /* #2a3829;*/
  border-radius: 15px;
}


.dropzone .dz-preview .dz-error-message {
  top: 150px!important;
}
/*
.dz-remove svg {
	fill: #444;
	cursor: pointer;
}*/

/*

svg.a9s-annotationlayer .a9s-handle .a9s-handle-outer {
  display:none;
}

svg.a9s-annotationlayer .a9s-selection .a9s-outer,
svg.a9s-annotationlayer .a9s-annotation .a9s-outer {
  display: none;
}


svg.a9s-annotationlayer .a9s-selection .a9s-inner,
svg.a9s-annotationlayer .a9s-annotation .a9s-inner {
  stroke-width:2;
  stroke:#0080C0;
}



svg.a9s-annotationlayer .a9s-annotation.editable:hover .a9s-inner {
  fill:transparent;
}


svg.a9s-annotationlayer .a9s-handle .a9s-handle-inner {
  fill:#0080C0;
  stroke:#0080C0;
}*/

/** Enable the dim mask, black with 60% transparency **/
/*
svg.a9s-annotationlayer .a9s-selection-mask {
  fill:rgba(0, 0, 0, 0.6);
}*/







.a9s-annotationlayer .a9s-formatter-el,
.a9s-annotationlayer .a9s-formatter-el foreignObject {
  overflow:visible;
  pointer-events:none;
}

.a9s-annotationlayer .a9s-formatter-el foreignObject .a9s-shape-label-wrapper {
  position:relative;
  transform:translateY(-100%);
  padding-bottom:4px;
}

.a9s-annotationlayer .a9s-formatter-el foreignObject .a9s-shape-label-wrapper .a9s-shape-label {
  display:table;
  padding: 3px 5px;
  white-space:nowrap;
  color: black; /*black;*/
  background-color: rgba(255, 255, 255, 1.0); /* rgba(255, 0, 0, 1.0);*/ /*"red"; /*"#FF4040"; /*rgba(255, 255, 255, 0.0);*/
  /*opacity: 1.0;*/
  /*background-color: rgba(255, 255, 255, 0.85);*/
  /*color: rgb(0, 0, 0);*/
  
  border-radius:3px;
  font-size:14px;
}

.a9s-annotationlayer .a9s-annotation .a9s-outer, 
.a9s-annotationlayer .a9s-selection .a9s-outer {
  display: none;
}

.a9s-annotationlayer .a9s-annotation .a9s-inner,
.a9s-annotationlayer .a9s-selection .a9s-inner {
  stroke-width:2px;
  stroke:#fff !important;  
}


.a9s-annotationlayer .a9s-annotation .a9s-inner {
  stroke: #0080ff !important; 
}
/* #0080ff !important; /*#0080C0 !important;*/


/*
.a9s-annotationlayer .a9s-annotation.editable.selected .a9s-inner,
.a9s-annotationlayer .a9s-annotation:hover .a9s-inner  {*/
/*.a9s-annotationlayer .a9s-annotation.editable.selected  {*/
  /*stroke:#0080C0 !important;*/
  /*
  stroke:pink !important;
}*/


.a9s-annotationlayer circle.a9s-handle-inner {
  display:none;
}

.a9s-annotationlayer .a9s-annotation.editable .a9s-inner:hover {
  fill:transparent;
}


.a9s-annotationlayer .a9s-annotation .training_region .a9s-inner {
  stroke:#ff51eb !important;
}
.a9s-annotationlayer .a9s-annotation.training_region .a9s-inner {
  stroke:#ff51eb !important;
}
/*
.a9s-annotationlayer .a9s-annotation.training_region .a9s-inner {
  stroke:#f705bb !important;
}*/
/*
.a9s-annotationlayer .a9s-annotation.training_region.editable.selected .a9s-inner,
.a9s-annotationlayer .a9s-annotation.training_region:hover .a9s-inner  {*/
/*
.a9s-annotationlayer.training_region .a9s-annotation.editable.selected .a9s-inner,
.a9s-annotationlayer.training_region .a9s-annotation.a9s-inner:hover .a9s-inner  {
  stroke:#f705bb !important;
}*/

.a9s-annotationlayer .a9s-annotation .test_region .a9s-inner {
  stroke:#ffae00 !important;
}
.a9s-annotationlayer .a9s-annotation.test_region .a9s-inner {
  stroke:#ffae00 !important; /*#ffa200 !important;*/
}
/*
.a9s-annotationlayer .a9s-annotation.test_region.editable.selected .a9s-inner,
.a9s-annotationlayer .a9s-annotation.test_region:hover .a9s-inner  {
  stroke:#ffa200 !important;
}*/



/*
.a9s-annotationlayer .a9s-annotation.COLOR_0 .a9s-inner {
  stroke:#0080C0 !important;
}

.a9s-annotationlayer .a9s-annotation.COLOR_0.editable.selected .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_0:hover .a9s-inner  {
  stroke:#0080C0 !important;
}


.a9s-annotationlayer .a9s-annotation.COLOR_1 .a9s-inner {
  stroke:#FF4040 !important;
}

.a9s-annotationlayer .a9s-annotation.editable.selected .COLOR_1 .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_1:hover .a9s-inner  {
  stroke:#FF4040 !important;
}

.a9s-annotationlayer .a9s-annotation.COLOR_2 .a9s-inner {
  stroke:#f5a70b !important;
}

.a9s-annotationlayer .a9s-annotation.editable.selected .COLOR_2 .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_2:hover .a9s-inner  {
  stroke:#f5a70b !important;
}


.a9s-annotationlayer .a9s-annotation.COLOR_3 .a9s-inner {
  stroke:#b95fb9 !important;
}

.a9s-annotationlayer .a9s-annotation.editable.selected .COLOR_3 .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_3:hover .a9s-inner  {
  stroke:#b95fb9 !important;
}


.a9s-annotationlayer .a9s-annotation.COLOR_4 .a9s-inner {
  stroke:#02b863 !important;
}

.a9s-annotationlayer .a9s-annotation.editable.selected .COLOR_4 .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_4:hover .a9s-inner  {
  stroke:#02b863 !important;
}



.a9s-annotationlayer .a9s-annotation.COLOR_5 .a9s-inner {
  stroke:#00C0C0 !important;
}

.a9s-annotationlayer .a9s-annotation.editable.selected .COLOR_5 .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_5:hover .a9s-inner  {
  stroke:#00C0C0 !important;
}

.a9s-annotationlayer .a9s-annotation.COLOR_6 .a9s-inner {
  stroke:#00695C !important;
}

.a9s-annotationlayer .a9s-annotation.editable.selected .COLOR_6 .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_6:hover .a9s-inner  {
  stroke:#00695C !important;
}

.a9s-annotationlayer .a9s-annotation.COLOR_7 .a9s-inner {
  stroke:#FFC0C0 !important;
}

.a9s-annotationlayer .a9s-annotation.editable.selected .COLOR_7 .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_7:hover .a9s-inner  {
  stroke:#FFC0C0 !important;
}

.a9s-annotationlayer .a9s-annotation.COLOR_8 .a9s-inner {
  stroke:#C08040 !important;
}

.a9s-annotationlayer .a9s-annotation.editable.selected .COLOR_8 .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_8:hover .a9s-inner  {
  stroke:#C08040 !important;
}

.a9s-annotationlayer .a9s-annotation.COLOR_9 .a9s-inner {
  stroke:#FF8040 !important;
}

.a9s-annotationlayer .a9s-annotation.editable.selected .COLOR_9 .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_9:hover .a9s-inner  {
  stroke:#FF8040 !important;
}

.a9s-annotationlayer .a9s-annotation.COLOR_DEFAULT .a9s-inner {
  stroke:#A0A0A0 !important;
}

.a9s-annotationlayer .a9s-annotation.editable.selected .COLOR_DEFAULT .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_DEFAULT:hover .a9s-inner  {
  stroke:#A0A0A0 !important;
}


.a9s-annotationlayer .a9s-annotation.COLOR_BRIGHT .a9s-inner {
  stroke:#ff00ff !important;
}

.a9s-annotationlayer .a9s-annotation.editable.selected .COLOR_BRIGHT .a9s-inner,
.a9s-annotationlayer .a9s-annotation.COLOR_BRIGHT:hover .a9s-inner  {
  stroke:#ff00ff !important;
}

*/












/*
    #toolbar, .a9s-toolbar, .tag-selector, .tag-selector ul, .tag-selector li {
      display:inline;
    }
  
    .toolbar-wrapper {
      display: flex;
      align-items: center;
      padding-bottom:10px;
    }

    .toolbar-wrapper ul {
      padding:0;
      margin:0;
    }

    .toolbar-wrapper .tag-selector button {
      outline:none;
      border:none;
      height:45px;
      vertical-align:middle;
      margin-right:8px;
      padding:0 14px;
      border-radius:4px;
      cursor:pointer;
      background-color:transparent;
      font-weight:bold;
      color:#838282;
    }

    .toolbar-wrapper .tag-selector .green.active button {
      color:#fff;
      background-color:#00ab00;
    }

    .toolbar-wrapper .tag-selector .orange.active button {
      color:#fff;
      background-color:orange;
    }

    .a9s-annotationlayer .a9s-annotation .a9s-outer, 
    .a9s-annotationlayer .a9s-selection .a9s-outer {
      stroke-width:6px;
      stroke:#000;  
    }

    .a9s-annotationlayer .a9s-annotation .a9s-inner,
    .a9s-annotationlayer .a9s-selection .a9s-inner {
      stroke-width:4px;
      stroke:#fff !important;  
    }

    .a9s-annotationlayer .a9s-annotation.GREEN .a9s-inner {
      stroke:#00ab00 !important;
    }

    .a9s-annotationlayer .a9s-annotation.GREEN.editable.selected .a9s-inner,
    .a9s-annotationlayer .a9s-annotation.GREEN:hover .a9s-inner  {
      stroke:#00e000 !important;
    }

    .a9s-annotationlayer .a9s-annotation.ORANGE .a9s-inner {
      stroke:rgb(204, 133, 1) !important;
    }

    .a9s-annotationlayer .a9s-annotation.ORANGE.editable.selected .a9s-inner,
    .a9s-annotationlayer .a9s-annotation.ORANGE:hover .a9s-inner  {
      stroke:orange !important;
    }

    .a9s-annotationlayer circle.a9s-handle-inner {
      display:none;
    }

    .a9s-annotationlayer .a9s-annotation.editable .a9s-inner:hover {
      fill:transparent;





*/






















/* The sidepanel menu */
.sidepanel {
  height: 500px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}










.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height:  26px; /*5px*/
  /*border-radius: 5px;*/
  background:  #bbbb;
  outline: none;
  /*opacity: 0.9;*/
  -webkit-transition: .2s;
  transition: opacity .2s;
  /*margin-bottom: 10px;*/
  border-radius: 34px;
  padding: 0px 4px;
  margin: 0px;
  margin-top: 4px;
  transition: all 0.5s;

}

/*
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
*/


.slider:hover {
  opacity: 1;
  background-color: #dddd; 
  cursor: pointer;
  /*transition: all .4s;*/
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  /*background: #45633d;*/
  background-color: white;
  cursor: pointer;
  /*border: 1px solid black; *//* #45633d;*/

}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  /*border: 1px solid #45633d;*/
}









.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbbb;
  -webkit-transition: .4s;
  transition: .4s;
  /*
  border-style: solid;
  border-width: 1px;
  border-color: white;*/
}

.switch_slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch_slider {
  background-color: #dddd; /*#ccc;*/
}

input:focus + .switch_slider {
  box-shadow: 0 0 1px #dddd;
}

input:checked + .switch_slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.switch_slider.round {
  border-radius: 34px;
}

.switch_slider.round:before {
  border-radius: 50%;
}






.small_switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}

.small_switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.small_switch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbbb;
  -webkit-transition: .4s;
  transition: .4s;
  /*
  border-style: solid;
  border-width: 1px;
  border-color: white;*/
}

.small_switch_slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .small_switch_slider {
  background-color: #dddd; /*#ccc;*/
}

input:focus + .small_switch_slider {
  box-shadow: 0 0 1px #dddd;
}

input:checked + .small_switch_slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.small_switch_slider.round {
  border-radius: 34px;
}

.small_switch_slider.round:before {
  border-radius: 50%;
}












/*
.radio_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.custom_radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}


.radio_container:hover input ~ .custom_radio {
  background-color: #ccc;
}

.radio_container input:checked ~ .custom_radio {
  background-color: #45633d;
}

.custom_radio:after {
  content: "";
  position: absolute;
  display: none;
}

.radio_container input:checked ~ .custom_radio:after {
  display: block;
}

.radio_container .custom_radio:after {
  top: 6px;
  left: 6px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
}
*/


.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 30px;
  height: 30px;
  cursor: none;
}

* {box-sizing: border-box;}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  /*border-radius: 50%;*/
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
}


.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 200px;
  height: 200px;
}






/*
.std_tooltiptext {
	background-color: #2b3628;
	color: white;
	border: 1px solid white;
	border-radius:  4px;
	padding: 3px;
	position: absolute;
	opacity: 0;

  visibility: hidden;
  width: 120px;

  text-align: center;

  z-index: 1;
}*/


.std_tooltiptext {
  visibility: hidden;
  /*width: 120px;*/
  border: 1px solid white;
  background-color: #222621;
  color: white;
  text-align: center;
  border-radius:  4px;
  padding: 3px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  /* top: -1px;
  left: 115%; */

}


.std_tooltip:hover .std_tooltiptext {
  visibility: visible;
}
/* .std_tooltip .std_tooltiptext {
  top: -5px;
  left: 105%;
} */

.tooltip2 {
  text-decoration:none;
  position:relative;
}
.tooltip2 span {
  display:none;
}
.tooltip2:hover span {
  display:block;
  position:fixed;
  overflow:hidden;
}

.annotation_guide {
  background: rgba(255, 0, 0, 0.08);
  outline: red solid 1px;
/*
  opacity: 0.7;
  filter: alpha(opacity=70);
  outline: red solid 2px; 
  background-color: transparent;
  font-size: 20px;
  font-family: arial;
  color: white;*/
}


/*
.blob {
	background: black;
	border-radius: 50%;
	margin: 10px;
	height: 10px;
	width: 10px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}*/

.dead_blob {
  background: rgb(237, 10, 10);
  /*box-shadow: 0 0 0 0 black; /*rgba(255, 255, 255, 1);*/
  box-shadow: 0px 0px 10px 5px rgb(237, 10, 10);

  border-radius: 50%;

	margin: 10px;
	height: 12px;
	width: 12px;

}

.alive_blob {
  background: white;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);

  border-radius: 50%;

	margin: 10px;
	height: 12px;
	width: 12px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
  animation: pulse-red 6s infinite;
}


@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  60% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/*
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: white;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #4c6645;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
*/

/* Customize the label (the container) */
.custom_radio_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.custom_radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.custom_radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom_radio_container:hover input ~ .custom_radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom_radio_container input:checked ~ .custom_radio {
  background-color: #5f964f; /* #2196F3;*/
}


.custom_radio_container input:checked ~ .custom_radio#annotation_radio {
  background-color: #009be8; /*#0080C0*/
}

.custom_radio_container input:checked ~ .custom_radio#training_region_radio {
  background-color: #ff51eb; /* #809c79;*/
}

.custom_radio_container input:checked ~ .custom_radio#test_region_radio {
  background-color: #ffae00;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.custom_radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom_radio_container input:checked ~ .custom_radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom_radio_container .custom_radio:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}



/*
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: white;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #4c6645;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
*/

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4c6645;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



.autocomplete {
  position: relative;
  display: inline-block;
  border: none;
}

/*
.autcomplete_input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

.autocomplete_input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
*/





.autocomplete-items {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #222621; /* #fff; */
  /*
  border-bottom: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;*/

  border: 1px solid #d4d4d4;

}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #394037; /* #e9e9e9; */
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #394037 !important; 
  color: #ffffff; 
}