doctype html

html
    head
        title="Canola Counter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="icon" href="/plant_detection/images/favicon.ico")

        link(href='/plant_detection/stylesheets/main.css' rel='stylesheet')
        link(href='/plant_detection/stylesheets/d3.css' rel='stylesheet')
        

        link(rel="stylesheet" href="/plant_detection/annotorious/annotorious.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

        script(src="https://code.jquery.com/jquery-3.6.0.js")


        //link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@2.7.0/dist/annotorious.min.css")

        
        //script(src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@2.7.0/dist/openseadragon-annotorious.min.js")
        script(src="/plant_detection/osd/openseadragon.min.js")
        script(src="/plant_detection/annotorious/openseadragon-annotorious.min.js")

        //link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@2.7.1/dist/annotorious.min.css")
        //script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@2.7.1/dist/openseadragon-annotorious.min.js")
        script(src="https://d3js.org/d3.v4.js")

        //script(src="/socket.io/socket.io.js")
        //script(type='text/javascript' src="http://" + location.hostname + ":8110/socket.io/socket.io.js")
        script(type='text/javascript' src="/socket.io/socket.io.js")
        //script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js" integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ==" crossorigin="anonymous")

        script(type='text/javascript' src='/plant_detection/javascripts/annotate.js')
        script(type='text/javascript' src='/plant_detection/javascripts/map_chart.js')
        script(type='text/javascript' src='/plant_detection/javascripts/common.js')

    body
        div(id="container")

            div(id="header"  style="background-color: #2b3628")
                table(class="transparent_table")
                    tr
                        td
                            div(style="width: 320px")
                                a(id="home_button" style="font-size: 22px; margin: 0px 5px" class="table_button table_button_hover") Canola Counter
                        td(style="width:100%")

                        td
                            div(style="width: 100px")
                                a(class="table_button table_button_hover" id="log_out") Log Out

                hr

            div(id="modal" class="modal")
                div(class="modal-content")
                    div(class="modal-header" id="modal_head")
                        //span(class="close close-hover" id="modal_close") &times;
                        //p Help
                    div(class="modal-body" id="modal_body")

                    div(class="modal-footer")



            div(id="body")

                br
                br

                div(id="annotate_container" class="grid-container-1")


                    div(class="half-round-item-1")

                        table(class="transparent_table")
                            tr
                                td
                                    div(style="width: 140px; text-align: left")
                                        button(style="width: 100px; margin: 0px" id="help_button" class="table_button table_button_hover")
                                            i(id="help_icon" class="fa-solid fa-circle-info" style="padding-right: 8px; color: white") 
                                            | Help

                                td(style="width:100%")
                                    h(id="image_set_name" class="header2" style="font-size: 22px; text-align: center; white-space: pre-wrap; color: white")
                                
                                td
                                    div(style="width: 140px")
                                        div(id="view_button_container" style="width: 140px;" hidden)
                                            button(style="width: 140px; margin: 0px;" id="view_button" class="table_button table_button_hover")
                                                div(id="view_button_text")
                                                    i(class="fa-solid fa-location-dot" style="padding-right: 10px; color: white;")
                                                    |
                                                    | Map View


                        div(id="image_view_container")
                            table(class="transparent_table")

                                tr
                                    td(class="dark-bg" style="vertical-align:top" id="left_panel")
                                        div(style="width: 280px;")

                                            table(class="transparent_table")
                                                tr
                                                    td(style="text-align: left")
                                                        h(class="header2") Image

                                                    td(style="width: 100%; text-align: left; padding-left: 12px")
                                                        h(id="image_name" style="word-break: break-all;")

                                                tr 
                                                    td(style="text-align: left")
                                                        h(class="header2") Status

                                                    td
                                                        select(id="status_combo" class="nonfixed_dropdown")

                                                //-
                                                    tr
                                                        td 
                                                            label(class="radio_container") Use for Training 
                                                                input(id="use_for_radio" type="radio" name="use_for_training" value="yes")
                                                                span(class="custom_radio")
                                            
                                            hr
                                            br
                                            button(id="save_button" class="table_button table_button_hover")
                                                i(id="save_icon" class="fa-solid fa-floppy-disk" style="padding-right: 8px; color: white")
                                                |
                                                | Save All Changes 

                                            br
                                            br
                                            h(class="header2" style="text-align: left") Images
                                            div(class="scrollable_area" style="height: 390px; border: none")
                                                table(id="image_set_table")


                                    td(style="width: 100%; position: relative" class="viewer" id="seadragon_viewer")
                                        //div(id="my_image_container" class="scrollable_area" hidden)

                                    //td(style="width: 100%; position: relative" class="viewer" id="segmentation_viewer" hidden)
                                        


                                    td(class="dark-bg" style="vertical-align:top; padding: 0px 0px;")


                                        div(id="init_panel" style="width: 280px; padding: 8px 8px")

                                            p(style="font-size: 16px")
                                                span(style="color: #ed452b; font-weight: bold; font-size: 18px" id="num_annotations")
                                                |  plant annotations needed to determine initial weights.
                                                                                
                                            p(id="initial_annotations_complete" hidden) 
                                                | Click 
                                                span(style="color: #ed452b; font-weight: bold;") Save All Changes
                                                |  to begin the process of selecting a baseline model.

                                        div(id="ctl_panel" hidden)
                                    
                                            div(style="width: 280px;")

                                                div
                                                    ul.nav


                                                        li.nav(id="show_annotation_button" class="tab-btn-active" style="width: 93px" onclick="show_annotation()") 
                                                            a.nav
                                                                i(class="fa-solid fa-pen-to-square")

                                                        li.nav(id="show_prediction_button" onclick="show_prediction()" style="width: 93px") 
                                                            a.nav
                                                                i(class="fa-regular fa-clone")

                                                        li.nav(id="show_segmentation_button" onclick="show_segmentation()" style="width: 93px") 
                                                            a.nav
                                                                i(class="fa-solid fa-image")


                                            div(style="padding: 8px 8px;")
                                                div(id="annotation_panel")
                                                    table(class="transparent_table")
                                                        tr
                                                            td(style="text-align: left;")
                                                                h(class="header2" style="width: 120px") Model Status

                                                            td(style="width: 100%; text-align: left; padding-left: 12px")
                                                                h(id="model_status")

                                                        tr
                                                            td(style="text-align: left;")
                                                                h(class="header2" style="width: 120px") Fully Trained?

                                                            td(style="width: 100%; text-align: left; padding-left: 12px")
                                                                h(id="model_training_status")
                                                    hr

                                                    div(style="height: 455px")
                                                    button(id="restart_button" class="std-button std-button-hover" style="width: 190px" onclick="restart_model()")
                                                        span
                                                            i(class="fa-solid fa-rotate-right" style="margin-right:8px") 
                                                            |
                                                            | Restart Model


                                                div(id="prediction_panel" hidden)

                                                    
                                                    br
                                                    br
                                                    br
                                                    button(id="request_prediction_button" class="table_button table_button_hover") Request Predictions: This Image
                                                
                                                    br
                                                    br
                                                    button(id="request_result_button" class="table_button table_button_hover") Request Predictions: All Images


                                                    div(id="predictions_available" hidden)

                                                        br
                                                        br
                                                        button(id="use_predictions_button" class="std-button std-button-hover" style="font-size: 16px") Use Predictions As Annotations

                                                        br
                                                        br
                                                        br


                                                        hr
                                                        br


                                                        //-
                                                            table(class="transparent_table" id="overlay_table")
                                                                tr
                                                                    td(style="width: 190px")
                                                                        div(style="width: 190px; text-align:left" class="header2") Show predictions
                                                                    td(style="width: 100%")
                                                                        label(class="switch")
                                                                            input(id="prediction_switch" type="checkbox")
                                                                            span(class="switch_slider round")



                                                        div(style="height: 255px")
                                                            table(class="transparent_table" id="overlays_table")






                                                        hr

                                                        table(class="transparent_table")
                                                            tr 
                                                                td(style="width: 140px")
                                                                    div(style="width: 140px; text-align:left" class="header2") Show scores
                                                                td(style="width: 40px")
                                                                    label(class="switch")
                                                                        input(id="score_switch" type="checkbox")
                                                                        span(class="switch_slider round")
                                                                td(style="width: 100%")

                                                        table(class="transparent_table")                   
                                                            tr
                                                                td(style="width: 50px")
                                                                    div(style="width: 50px; text-align:left" class="header2") Filter

                                                                td
                                                                    button(id="score_down" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 4px")
                                                                        i(class="fa-solid fa-circle-chevron-left")
                                                                        
                                                                td(style="width: 100%")
                                                                    div(class="slidecontainer" style="width: 100%")
                                                                        input(type="range" min="0.25" max="1" step="0.01" value="0.5" class="slider" id="confidence_slider")

                                                                td
                                                                    button(id="score_up" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 4px")
                                                                        i(class="fa-solid fa-circle-chevron-right")
                                                                
                                                                td(style="width: 50px")
                                                                    div(id="confidence_slider_val" style="margin-left: 12px" class="header2") 0.50


                                                        //-
                                                            table(class="transparent_table") 
                                                                tr 
                                                                    td
                                                                        label(class="table_label" style="background-color: #2b3628;")
                                                                            table(class="transparent_table")
                                                                                tr 
                                                                                    td(style="width: 190px")
                                                                                        div(style="width: 190px; text-align:left" class="header2") Show predictions
                                                                                    td(style="width: 40px")
                                                                                        label(class="switch")
                                                                                            input(id="prediction_switch" type="checkbox")
                                                                                            span(class="switch_slider round")
                                                                                    //td(style="width: 100%")
                                                                                    //    div(style="margin-left: 8px") Show Predictions
                                                                                tr(style="height: 10px")
                                                                                tr 
                                                                                    td(style="width: 190px")
                                                                                        div(style="width: 190px; text-align:left" class="header2") Show scores
                                                                                    td(style="width: 40px")
                                                                                        label(class="switch")
                                                                                            input(id="score_switch" type="checkbox")
                                                                                            span(class="switch_slider round")
                                                                                    //td(style="width: 100%")
                                                                                    //    div(style="margin-left: 8px") Show Scores
                                                                                tr(style="height: 10px")
                                                                            //label(class="table_label" style="background-color: #2b3628;")
                                                                            table(class="transparent_table")
                                                                                tr
                                                                                    td(style="width: 50px")
                                                                                        div(style="width: 50px; text-align:left" class="header2") Filter
                                                                                    td(style="width: 100%")
                                                                                        div(class="slidecontainer" style="width: 100%")
                                                                                            input(type="range" min="0.25" max="1" step="0.01" value="0.50" class="slider" id="confidence_slider")
                                                                                    td(style="width: 50px")
                                                                                        div(id="confidence_slider_val" style="margin-left: 12px" class="header2") 0.50
                                                //-   
                                                    hr
                                                    div(id="annotation_edit_panel")

                                                        
                                                        br
                                                        button(id="predict_button" class="table_button table_button_hover" style="width: 240px") Request Prediction
                                                        br
                                                        br
                                                        button(id="retrieve_button" class="table_button table_button_hover" style="width: 240px") Show Most Recent Predictions
                                                        br
                                                        br
                                                        button(id="segment_button" class="table_button table_button_hover" style="width: 240px") Segment Image


                                                    div(id="prediction_view_panel" hidden)
                                                        br
                                                        br
                                                        button(id="use_predictions_button" class="table_button table_button_hover" style="width: 240px") Use Predictions As Annotations
                                                        br
                                                        br
                                                        button(id="continue_annotation_button" class="table_button table_button_hover" style="width: 240px") Continue Annotating
                                                    

                                            
                                                div(id="segmentation_panel" hidden)

                                                    //div(id="my_result" style="border: 1px solid white; height: 280px")

                                                    table(class="transparent_table")
                                                        tr
                                                            td(style="width: 90px")
                                                                div(style="width: 90px; text-align:left" class="header2") Threshold:
                                                            td(style="width: 50px")
                                                                div(id="threshold_slider_val_container" style="text-align: right; width: 50px")
                                                    table(class="transparent_table")
                                                        tr
                                                            td
                                                                button(id="threshold_score_down" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 4px")
                                                                    i(class="fa-solid fa-circle-chevron-left")

                                                            td(style="width: 100%")
                                                                div(id="threshold_slider_container" class="slidecontainer" style="width: 100%")
                                                                    //input(type="range" min="-2" max="2" step="0.01" value="0.0" class="slider" id="threshold_slider")
                                                            
                                                            td
                                                                button(id="threshold_score_up" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 4px")
                                                                    i(class="fa-solid fa-circle-chevron-right")                                                        
                                                            
                                                            
                                                                //div(id="threshold_slider_val" style="margin-left: 12px" class="header2")  

                                                    br
                                                    br
                                                    button(id="request_segment_button" class="table_button table_button_hover" style="width: 240px") Segment

                                                    br
                                                    br
                                                    div(id="image_loader" class="loader")

                        div(id="map_view_container" hidden)
                            table(class="transparent_table")

                                tr
                                    td(class="dark-bg" style="vertical-align:top")
                                        div(style="width: 280px;")

                                            div(id="map_builder_controls_container" hidden)

                                                div(style="font-size: 20px") Map Builder Controls 
                                                br
                                                div(class="header2" style="text-align: left; padding-left: 10px") Interpolation 
                                                table(class="transparent_table" style="border: 1px solid white; width: 260px")
                                                    tr 
                                                        td 
                                                            label(class="radio_container") Linear 
                                                                input(type="radio" name="interpolation" value="linear" checked)
                                                                span(class="custom_radio")
                                                        td 
                                                            label(class="radio_container") Nearest 
                                                                input(type="radio" name="interpolation" value="nearest")
                                                                span(class="custom_radio")      


                                                br
                                                hr
                                                br
                                                button(style="width: 140px; margin: 0px" id="build_map_button" class="table_button table_button_hover" onclick="build_map()")
                                                    i(class="fa-solid fa-gears" style="padding-right: 10px; color: white")
                                                    |
                                                    | Build Map 
                                                br
                                                br
                                                div(id="build_loader" class="loader" hidden)
                                            
                                            div(id="insufficient_annotation_container" hidden)
                                                div To build a density map, at least three images must be fully annotated.


                                    td(style="width: 100%" id="chart_container")





    script.
        let data = !{JSON.stringify(data)};