doctype html

html
    head
        title="Canola Counter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(href='/plant_detection/stylesheets/main.css' rel='stylesheet')
        link(href='/plant_detection/stylesheets/d3.css' rel='stylesheet')
        

        link(rel="stylesheet" href="/plant_detection/annotorious/annotorious.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

        script(src="https://code.jquery.com/jquery-3.6.0.js")


        //link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@2.7.0/dist/annotorious.min.css")

        
        //script(src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@2.7.0/dist/openseadragon-annotorious.min.js")
        script(src="/plant_detection/osd/openseadragon.min.js")
        script(src="/plant_detection/annotorious/openseadragon-annotorious.min.js")

        //link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@2.7.1/dist/annotorious.min.css")
        //script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@2.7.1/dist/openseadragon-annotorious.min.js")
        script(src="https://d3js.org/d3.v4.js")


        script(type='text/javascript' src='/plant_detection/javascripts/annotate.js')
        script(type='text/javascript' src='/plant_detection/javascripts/map_chart.js')
        script(type='text/javascript' src='/plant_detection/javascripts/common.js')

    body
        div(id="container")

            include ./header.pug

            div(id="help_modal" class="modal")
                div(class="modal-content")
                    div(class="modal-header")
                        span(class="close close-hover" id="help_modal_close") &times;
                        p Help
                    div(class="modal-body")

                        p(style="text-align: justify") Hold the <i>SHIFT</i> key and drag the mouse to create a new annotation.<br><br>Use the <i>DELETE</i> key to remove annotations.<br><br>Don't forget to save your work! 

                    div(class="modal-footer")



            div(id="body")

                br
                br

                div(id="annotate_container" class="grid-container-1")


                    div(class="half-round-item-1")

                        table(class="transparent_table")
                            tr
                                td
                                    button(style="width: 100px; margin: 0px" id="help_button" class="table_button table_button_hover")
                                        i(id="help_icon" class="fa-solid fa-circle-info" style="padding-right: 8px; color: white") 
                                        | Help

                                td(style="width:100%")
                                    h(id="image_set_name" class="header2" style="font-size: 22px; text-align: center; white-space: pre-wrap; color: white")
                                
                                td
                                    div(id="view_button_container" style="width: 140px")



                        div(id="image_view_container")
                            table(class="transparent_table")

                                tr
                                    td(class="dark-bg" style="vertical-align:top")
                                        div(style="width: 280px;")

                                            table(class="transparent_table")
                                                tr
                                                    td(style="text-align: left")
                                                        h(class="header2") Image: 

                                                    td(style="width: 100%; text-align: left; padding-left: 12px")
                                                        h(id="image_name")

                                                tr 
                                                    td(style="text-align: left")
                                                        h(class="header2") Status: 

                                                    td
                                                        select(id="status_combo" class="nonfixed_dropdown")
                                            br
                                            hr
                                            br
                                            button(id="save_button" class="table_button table_button_hover")
                                                i(id="save_icon" class="fa-solid fa-floppy-disk" style="padding-right: 8px; color: white")
                                                |
                                                | Save All Changes 

                                            br
                                            br
                                            h(class="header2" style="text-align: left") Image List:
                                            div(class="scrollable_area" style="height: 390px; border: none")
                                                table(id="image_set_table")


                                    td(style="width: 100%" id="seadragon_viewer")


                        div(id="map_view_container" hidden)
                            table(class="transparent_table")

                                tr
                                    td(class="dark-bg" style="vertical-align:top")
                                        div(style="width: 280px;")

                                            div(id="map_builder_controls_container" hidden)

                                                div(style="font-size: 20px") Map Builder Controls 
                                                br
                                                div(class="header2" style="text-align: left; padding-left: 10px") Interpolation 
                                                table(class="transparent_table" style="border: 1px solid white; width: 260px")
                                                    tr 
                                                        td 
                                                            label(class="radio_container") Linear 
                                                                input(type="radio" name="interpolation" value="linear" checked)
                                                                span(class="custom_radio")
                                                        td 
                                                            label(class="radio_container") Nearest 
                                                                input(type="radio" name="interpolation" value="nearest")
                                                                span(class="custom_radio")      


                                                br
                                                hr
                                                br
                                                button(style="width: 140px; margin: 0px" id="build_map_button" class="table_button table_button_hover" onclick="build_map()")
                                                    i(class="fa-solid fa-gears" style="padding-right: 10px; color: white")
                                                    |
                                                    | Build Map 
                                                br
                                                br
                                                div(id="build_loader" class="loader" hidden)
                                            
                                            div(id="insufficient_annotation_container" hidden)
                                                div To build a density map, at least three images must be fully annotated.


                                    td(style="width: 100%" id="chart_container")





    script.
        let data = !{JSON.stringify(data)};