doctype html

html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    body
        div(id="header"  style="background-color: #2b3628")
            table(class="transparent_table")
                tr
                    td
                        div(style="width: 320px")
                            a(href="/plant_detection/home" style="font-size: 22px" class="table_button table_button_hover") Seedling Detector
                    td(style="width:100%")

                    td
                        div(style="width: 100px")
                            a(href="/plant_detection/logout" class="table_button table_button_hover") Log Out

            //             
                div(align="right")
                    a.nav(href="/plant_detection/logout") Log Out
            hr
            //div(style="height:40px; display:block")
        //
            section
                ul.nav
                    li.nav
                        a.nav(href="/plant_detection/home")
                            i(class="fa-solid fa-house" aria-hidden="true") 
                            | 
                            | Home

                    li.nav
                        a.nav(href="/plant_detection/upload")
                            i(class="fa-solid fa-upload" aria-hidden="true")
                            |
                            | Upload

                    li.nav
                        a.nav(href="/plant_detection/train")
                            i(class="fa-solid fa-bars-progress" aria-hidden="true")
                            |
                            | Train

                    li.nav
                        a.nav(href="/plant_detection/predict")
                            i(class="fa-regular fa-clone" aria-hidden="true")
                            |
                            | Predict

                    li.nav
                        a.nav(href="/plant_detection/results")
                            i(class="fa-solid fa-chart-line" aria-hidden="true")
                            |
                            | Results

            hr