doctype html

html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    body
        div(id="header")
            div(align="right")
                a(href="/plant_detection/logout") Log Out
            section
                ul.nav
                    li.nav
                        a(href='/plant_detection/user')
                            i(class="fa fa-home" aria-hidden="true") 
                            | 
                            | Home

            hr