doctype html

html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    body
        div(id="header"  style="background-color: #2b3628")
            table(class="transparent_table")
                tr
                    td
                        div(style="width: 320px")
                            a(href="/plant_detection/home/" + username style="font-size: 22px; margin: 0px 5px" class="table_button table_button_hover") Canola Counter
                    td(style="width:100%")

                    td
                        div(style="font-weight: bold; margin-right:15px") #{username} 
                    td
                        div(style="width: 100px")
                            a(href="/plant_detection/logout" class="table_button table_button_hover") Log Out

            hr
