doctype html

html
    head
        title="Canola Counter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        script(src="https://code.jquery.com/jquery-3.6.0.js")
        script(src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js")
        
        link(href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css")
        link(href='/plant_detection/stylesheets/main.css' rel='stylesheet')


        script(type='text/javascript' src='/plant_detection/javascripts/home.js')
        script(type='text/javascript' src='/plant_detection/javascripts/common.js')
        script(type='text/javascript' src='/plant_detection/javascripts/upload.js')
        script(type='text/javascript' src='/plant_detection/javascripts/train.js')

    body
        div(id="container")

            include ./header.pug

            div(id="result_modal" class="modal")
                div(class="modal-content")
                    div(class="modal-header")
                        span(class="close close-hover" id="modal_close") &times;
                        p(id="modal_header_text" style="white-space: pre-line;")
                    div(class="modal-body" id="modal_body")
                        p(id="modal_message" align="center")
                    div(class="modal-footer")

            div(id="body")
                    
                //h(class="header2" style="font-size:26px") Home 
                //hr

                br
                br

                div(id="home_container")
                    div(class="panel" style="width: 1500px;")

                        //h(class="header2" style="font-size: 26px; text-align: center;") Image Sets

                        div(class="content" style="display:block; height: 700px")

                            ul(class="nav" id="browse_upload")
                                li(id="browse_tab_btn" class="nav tab-btn-active" onclick="show_tab(this.id)")
                                    a(class="nav")
                                        span
                                            i(class="fa-solid fa-seedling" style="margin-right:3px")
                                            |
                                            | Browse

                                li(id="upload_tab_btn" class="nav " onclick="show_tab(this.id)")
                                    a(class="nav")
                                        span
                                            i(class="fa-solid fa-upload" style="margin-right:3px")
                                            |
                                            | Upload

                            //hr


                            //
                                table(class="transparent_table")
                                    tr
                                        //td
                                        //    h(class="title" style="width: 200px") Image Sets
                                        td(style="width: 100%")
                                        td
                                            div(id="upload" class="table_button table_button_hover" style="width:100px")
                                                span
                                                    i(class="fa-solid fa-upload" style="font-size: 18px")
                                                    |
                                                    | Upload
                                


                            div(id="main_area")
                            
                            //
                                div(class="row")
                                    div(class="col_left")
                                        div(class="col_label") Farm Name:
                                    div(class="col_right")
                                        select(id="farm_combo" class="nonfixed_dropdown")


                                div(class="row")
                                    div(class="col_left")
                                        div(class="col_label") Field Name:
                                    div(class="col_right")
                                        select(id="field_combo" class="nonfixed_dropdown")


                                div(class="row")
                                    div(class="col_left")
                                        div(class="col_label") Mission Date:
                                    div(class="col_right")
                                        select(id="mission_combo" class="nonfixed_dropdown")


                                br
                                hr(style="margin: 0")
                                div(id="image_set_container")

                            //hr
                            //div(id="image_set_scrollable_area" class="scrollable_area" style="height: 390px; border:none")
                                
                            //table(id="image_set_table")

    script.
        let image_sets_data = !{JSON.stringify(image_sets_data)};
        let camera_specs = !{JSON.stringify(camera_specs)};