doctype html

html
    head
        title="Canola Counter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="icon" href="/plant_detection/images/favicon.ico")

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css")

        link(href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css")
        link(href='/plant_detection/stylesheets/main.css' rel='stylesheet')
        
        script(src="https://code.jquery.com/jquery-3.6.0.js")
        script(src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js")

        //script(type='text/javascript' src="/plant_detection/socket.io/socket.io.js")
        script(src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous")
        

        script(type='text/javascript' src='/plant_detection/javascripts/home.js')
        script(type='text/javascript' src='/plant_detection/javascripts/common.js')
        script(type='text/javascript' src='/plant_detection/javascripts/upload.js')
        //script(type='text/javascript' src='/plant_detection/javascripts/train.js')

    body
        div(id="container")

            include ./header.pug

            div(id="result_modal" class="modal")
                div(class="modal-content")
                    div(class="modal-header")
                        span(class="close close-hover" id="modal_close") &times;
                        p(id="modal_header_text" style="white-space: pre-line;")
                    div(class="modal-body" id="modal_body")
                        p(id="modal_message")
                    div(class="modal-footer")

            div(id="body")
                    
                //h(class="header2" style="font-size:26px") Home 
                //hr

                br
                br

                div(id="home_container")

                    div(class="panel" style="width: 1500px;")

                        //h(class="header2" style="font-size: 26px; text-align: center;") Image Sets

                        div(class="content" style="display:block; height: 700px")

                            ul(class="nav" id="browse_upload")
                                li(id="browse_tab_btn" class="nav tab-btn-active")
                                    a(class="nav")
                                        span
                                            i(class="fa-solid fa-seedling" style="margin-right:3px")
                                            |
                                            | Browse

                                li(id="upload_tab_btn" class="nav")
                                    a(class="nav")
                                        span
                                            i(class="fa-solid fa-upload" style="margin-right:3px")
                                            |
                                            | Upload


                                //-
                                    li(id="train_baseline_tab_btn" class="nav")
                                        a(class="nav")
                                            span
                                                i(class="fa-solid fa-cube" style="margin-right:3px")
                                                |
                                                | Train Baseline


                            div(id="main_area")


                                div(id="browse")
                                    br
                                    br
                                    br

                                    table(class="transparent_table" id="combo_table")
                                        tr
                                            th
                                                div(class="table_head" style="width: 130px") Farm Name 
                                            th 
                                                div(style="width: 250px")
                                                    select(id="farm_combo" class="nonfixed_dropdown")

                                        tr
                                            th 
                                                div(class="table_head" style="width: 130px") Field Name 
                                            th 
                                                div(style="width: 250px")
                                                    select(id="field_combo" class="nonfixed_dropdown")

                                        tr
                                            th 
                                                div(class="table_head" style="width: 130px") Mission Date
                                            th 
                                                div(style="width: 250px")
                                                    select(id="mission_combo" class="nonfixed_dropdown")

                                    br
                                    hr(style="margin: 0px 0px")
                                    div(id="image_set_container")


                                div(id="upload" hidden)
                                    form(id="upload_form" action="")
                                        br
                                        br
                                        br

                                        table(class="transparent_table" id="input_table")
                                            tr 
                                                th 
                                                    div(class="table_head" style="width: 140px") Farm Name 
                                                        span(style="color: yellow") *
                                                th 
                                                    div(style="width: 250px")
                                                        input(id="farm_input" class="nonfixed_input")
                                        
                                            tr 
                                                th 
                                                    div(class="table_head" style="width: 140px") Field Name 
                                                        span(style="color: yellow") *
                                                th 
                                                    div(style="width: 250px")
                                                        input(id="field_input" class="nonfixed_input")

                                            tr 
                                                th 
                                                    div(class="table_head" style="width: 140px") Mission Date 
                                                        span(style="color: yellow") *
                                                th 
                                                    div(style="width: 250px")
                                                        input(id="mission_input" type="date" class="nonfixed_input")


                                            tr 
                                                th 
                                                    div(class="table_head" style="width: 140px") Camera Height (m)
                                                th 
                                                    div(style="width: 250px")
                                                        input(id="camera_height_input" class="nonfixed_input")
                                        
                                        br
                                        div(style="color: yellow") * 
                                            span(style="color: white") Indicates required field.

                                        br
                                        hr(style="margin: 0px 0px")
                                        div(id="file-drop" class="dropzone")
                                            div(class="dz-message data-dz-message")
                                                span Drop Images Here 
                                            div(id="upload_loader" class="loader" hidden)

                                        hr
                                        
                                        button(id="upload_button" class="std-button std-button-hover" style="width: 200px; height: 40px" type="submit")
                                            span Upload 
                                
                                //-
                                    div(id="train_baseline" hidden)

                                        br
                                        br
                                        br

                                        div(class="scrollable_area" style="height: 280px; margin: 10px 10px; padding: 10px 10px")
                                            table(id="image_sets_table" class="transparent_table")
    script.
        let username = !{JSON.stringify(username)};
        let image_sets_data = !{JSON.stringify(image_sets_data)};
        let camera_specs = !{JSON.stringify(camera_specs)};