doctype html

html
    head
        title="Plant Detection"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(href='/plant_detection/stylesheets/main.css' rel='stylesheet')
        
        script(src="https://code.jquery.com/jquery-3.6.0.js")


    body
        div(id="container")

            include ./header.pug


            div(id="body")
                    
                h(class="header2" style="font-size:26px") Home

                
                hr