doctype html

html
    head
        title="CanolaCounter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(href='/plant_detection/stylesheets/main.css' rel='stylesheet')
        
        script(src="https://code.jquery.com/jquery-3.6.0.js")

        script(type='text/javascript' src='/plant_detection/javascripts/results.js')
        script(type='text/javascript' src='/plant_detection/javascripts/common.js')

    body
        div(id="container")

            include ./header.pug


            div(id="body")
                    
                h(class="header2" style="font-size:26px") Results

                
                hr


                div(id="home_container")
                    div(class="panel" style="max-width: 1100px")

                        h(class="header2" style="font-size: 26px; text-align: center;") Image Sets

                        div(class="content" style="display:block")

                            div(class="row")
                                div(class="col_left")
                                    div(class="col_label") Farm Name:
                                div(class="col_right")
                                    select(id="farm_combo" class="nonfixed_dropdown")


                            div(class="row")
                                div(class="col_left")
                                    div(class="col_label") Field Name:
                                div(class="col_right")
                                    select(id="field_combo" class="nonfixed_dropdown")


                            div(class="row")
                                div(class="col_left")
                                    div(class="col_label") Mission Date:
                                div(class="col_right")
                                    select(id="mission_combo" class="nonfixed_dropdown")

                            br
                            hr
                            br
                            div(class="scrollable_area" style="height: 390px; border:none")
                                table(id="image_set_table")
                            //div(id="image_set_details" style="display:block; height: 300px")

    script.
        let results_data = !{JSON.stringify(results_data)};