doctype html

html
    head
        title="Canola Counter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        script(src="https://code.jquery.com/jquery-3.6.0.js")

        link(href='/plant_detection/stylesheets/main.css' rel='stylesheet')
        link(href='/plant_detection/stylesheets/d3.css' rel='stylesheet')
        
        script(src="https://d3js.org/d3.v4.js")

        script(type='text/javascript' src='/plant_detection/javascripts/common.js')
        script(type='text/javascript' src='/plant_detection/javascripts/transfer.js')
        script(type='text/javascript' src='/plant_detection/javascripts/transfer_chart.js')

    body
        div(id="container")

            // include ./header.pug

            div(id="body")

                br
                br

                div(id="home_container")

                    div(class="panel" style="width: 1500px")

                        div(class="content" style="display:block; height: 800px;")                

                            div(id="main_area")
                                div(style="display:block; height: 70px; background-color: #2b3628; border-bottom: 1px solid white")
                                
                                br

                                table(class="transparent_table" id="combo_table")
                                    tr
                                        th
                                            div(class="table_head" style="width: 100px") Farm Name: 
                                        th
                                            div(style="width: 350px")
                                                select(class="nonfixed_dropdown" id="farm_combo")

                                    tr
                                        th
                                            div(class="table_head" style="width: 100px") Field Name: 
                                        th
                                            div(style="width: 350px")
                                                select(class="nonfixed_dropdown" id="field_combo")

                                    tr
                                        th
                                            div(class="table_head" style="width: 100px") Mission Date: 
                                        th
                                            div(style="width: 350px")
                                                select(class="nonfixed_dropdown" id="mission_combo")

                                    tr
                                        th
                                            div(class="table_head" style="width: 100px") Metric: 
                                        th
                                            div(style="width: 350px")
                                                select(class="nonfixed_dropdown" id="metric_combo")

                            br
                            br
                            div(id="transfer_chart" style="margin: auto; width: 750px; height: 550px")

    script.
        let image_sets_data = !{JSON.stringify(image_sets_data)};