doctype html

html
    head
        title="Canola Counter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="icon" href="/canola_counter/images/favicon.ico")

        link(href='/canola_counter/stylesheets/main.css' rel='stylesheet')
        link(href='/canola_counter/stylesheets/d3.css' rel='stylesheet')
        
        link(rel="stylesheet" href="/canola_counter/annotorious/annotorious.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css")

        script(src="https://code.jquery.com/jquery-3.6.0.js")

        script(src="/canola_counter/osd/openseadragon.min.js")
        script(src="/canola_counter/annotorious/openseadragon-annotorious.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-shape-labels@latest/dist/annotorious-shape-labels.min.js")

        script(src="https://d3js.org/d3.v4.js")


        script(type='text/javascript' src='/canola_counter/javascripts/viewer.js')
        script(type='text/javascript' src='/canola_counter/javascripts/count_chart.js')
        script(type='text/javascript' src='/canola_counter/javascripts/score_chart.js')
        script(type='text/javascript' src='/canola_counter/javascripts/viewer_map_chart.js')
        script(type='text/javascript' src='/canola_counter/javascripts/common.js')
        script(type='text/javascript' src='/canola_counter/javascripts/modal.js')

    body
        div(id="container")

            include ./header.pug

            div(id="modal" class="modal")
                div(class="modal-content")
                    div(class="modal-header" id="modal_head")

                    div(class="modal-body" id="modal_body")

                    div(class="modal-footer")

            div(id="body")
                    
                //h(class="header2" style="font-size:26px") Viewer
                //hr
                br
                br



                div(class="grid-container-1")

                    div(class="half-round-item-1")

                        table(class="transparent_table")
                            tr
                                //
                                    td
                                        button(style="width: 100px" id="help_button" class="table_button table_button_hover")
                                            i(id="help_icon" class="fa-solid fa-circle-info" style="padding-right: 8px; color: white") 
                                            | Help
                                td 
                                    div(style="width: 140px")

                                td(style="width:100%")
                                    h(id="image_set_name" class="header2" style="font-size: 22px; text-align: center; white-space: pre-wrap; color: white")
                                td
                                    div(style="width: 140px")
                                        div(id="view_button_container" style="width: 140px" hidden)
                                            button(style="width: 140px; margin: 0px;" id="view_button" class="table_button table_button_hover")
                                                div(id="view_button_text")
                                                    i(class="fa-solid fa-location-dot" style="padding-right: 10px; color: white;")
                                                    |
                                                    | Map View


                        div(id="image_view_container")
                            table(class="transparent_table")

                                tr
                                    td(class="dark-bg" style="vertical-align:top")
                                        div(style="width: 280px;")
                                            div(id="left_panel")

                                                table(class="transparent_table")


                                                    tr

                                                        td(style="text-align: left")
                                                            h(class="header2" style="width: 60px") Image
                                                    
                                                        td(style="width: 100%; text-align: left; padding-left: 12px")
                                                            h(id="image_name" style="word-break: break-all;")


                                                
                                                    tr
                                                        td(style="text-align: left")
                                                            h(class="header2" style="width: 60px") Status
                                                        td(style="width:100%; text-align: left; padding-left: 12px")
                                                            h(id="image_status")
                                                    
                                                    //-
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2" style="width: 80px") Used for:
                                                            td(style="width:100%; text-align: left; padding-left: 12px")
                                                                h(id="used_for")




                                               
                                                hr

                                                table(class="transparent_table")
                                                    tr
                                                        td(style="text-align: left")
                                                            h(class="header2" style="width: 60px") Images

                                                        td(style="width:100%")
                                                            select(id="filter_combo" class="nonfixed_dropdown")
                                                                //- option all
                                                                //- option unannotated
                                                                //- option completed_for_training
                                                                //- option completed_for_testing

                                                br
                                                div(id="image_set_table_container" class="scrollable_area" style="height: 470px; border:none; overflow-y: scroll")
                                                    table(id="image_set_table")

                                                div(style="height: 10px")
                                                div(style="height: 30px")
                                                    table(id="image_navigation_buttons")
                                                        tr
                                                            td(style="width: 140px")
                                                                button(id="prev_image_button" class="std-button std-button-hover" style="font-size: 16px; width: 100%") 
                                                                    i(class="fa-solid fa-circle-chevron-left" style="padding-right: 5px")
                                                                    | 
                                                                    | Previous
                                                            td(style="width: 140px")
                                                                button(id="next_image_button" class="std-button std-button-hover" style="font-size: 16px; width: 100%;") Next 
                                                                    i(class="fa-solid fa-circle-chevron-right" style="padding-left: 5px")                                                    

                                                hr
                                                div(style="height: 5px")

                                                button(id="request_csv_button" class="std-button std-button-hover")
                                                    i(class="fa fa-download fa-sm" style="padding-right: 5px")
                                                    |
                                                    | Download Results
                                                
                                                //- a(class="table_button table_button_hover" style="padding: 5px 10px;" id="download_button" download)
                                                //-     i(class="fa fa-download fa-sm")
                                                //-     span(style="margin-left: 10px") Download Results 
                                                
                                                //div(style="height: 5px")                                     


                                    td(style="width: 100%" class="viewer" id="seadragon_viewer")


                                    td(class="dark-bg" style="vertical-align:top")
                                        div(style="width: 280px;")

                                            div(id="right_panel")

                                                div(class="header2" style="text-align: left") Annotation Version
                                                select(id="annotation_version_combo" class="nonfixed_dropdown")
                                                    option(value="preserved") From Time of Result Creation
                                                    option(value="most_recent") Most Recent
                                                //- table(class="transparent_table" style="border: 1px solid white; width: 260px")
                                                //-     tr 
                                                //-         td 
                                                //-             label(class="radio_container") Preserved
                                                //-                 input(type="radio" name="annotation_version" value="preserved" checked)
                                                //-                 span(class="custom_radio")
                                                //-         td 
                                                //-             label(class="radio_container") Most Recent 
                                                //-                 input(type="radio" name="annotation_version" value="most_recent")
                                                //-                 span(class="custom_radio")

                                                br
                                                br
                                                hr

                                                div(style="height: 40px")
                                                    table(class="transparent_table")
                                                        td(style="text-align: left")
                                                            h(class="header2") Metric
                                                        td(style="width: 100%")
                                                            select(id="chart_combo" class="nonfixed_dropdown")
                                                                
                                                div(id="count_chart" style="height: 95px; border:none")
                                                    div(id="count_chart_tooltip" class="tooltip" style="z-index: 10")

                                                hr
                                                

                                                h(class="header2" style="text-align:left") Overlays

                                                div(class="scrollable_area" style="height: 90px; border:none")
                                                    table(id="overlays_table" class="transparent_table")


                                                hr  

                                                h(class="header2" style="text-align:left") Score Distribution
                                                h(class="header2" style="text-align: left; font-size: 16px") Est. Quality: 
                                                    span(id="quality_score" style="color: white; text-align: left")
                                                div(id="score_chart" style="height: 175px; border:none")
                                                
                                                div(style="height: 10px")
                                                hr
                                                    
                                                table(class="transparent_table")
                                                    tr
                                                        td(style="width: 155px")
                                                            div(style="width: 155px; text-align:left" class="header2") Show scores
                                                        td(style="width:40px")
                                                            label(class="switch")
                                                                input(id="scores_checkbox" type="checkbox")
                                                                span(class="switch_slider round")
                                                        td(style="width: 100%")

                                                table(class="transparent_table")
                                                        
                                                    tr
                                                        td(style="width: 50px")
                                                            div(style="width: 50px; text-align:left" class="header2") Filter

                                                        td
                                                            button(id="score_down" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 4px")
                                                                i(class="fa-solid fa-circle-chevron-left")
                                                                
                                                        td(style="width: 100%")
                                                            div(class="slidecontainer" style="width: 100%")
                                                                input(type="range" min="0.25" max="1" step="0.01" value="0.5" class="slider" id="confidence_slider")

                                                        td
                                                            button(id="score_up" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 4px")
                                                                i(class="fa-solid fa-circle-chevron-right")
                                                        
                                                        td(style="width: 50px")
                                                            div(id="slider_val" style="margin-left: 12px" class="header2") 0.50


                        div(id="map_view_container" hidden)
                            table(class="transparent_table")

                                tr
                                    td(class="dark-bg" style="vertical-align:top; height: 720px")
                                        div(style="width: 280px;")

                                            div(id="map_builder_controls_container" hidden)

                                                div(style="font-size: 20px") Map Builder Controls 
                                                br
                                                div(class="header2" style="text-align: left; padding-left: 10px") Interpolation 
                                                table(class="transparent_table" style="border: 1px solid white; width: 260px")
                                                    tr 
                                                        td 
                                                            label(class="radio_container") Linear 
                                                                input(type="radio" id="interpolation_linear" name="interpolation" value="linear" checked)
                                                                span(class="custom_radio")
                                                        td 
                                                            label(class="radio_container") Nearest 
                                                                input(type="radio" id="interpolation_nearest" name="interpolation" value="nearest")
                                                                span(class="custom_radio")

                                                //br
                                                //div(class="header2" style="text-align: left; padding-left: 10px") Model Selection 
                                                //table(class="transparent_table" style="border: 1px solid white; width: 260px" id="map_selection_table")

                                                

                                                div(id="sufficient_annotation_options" hidden)
                                                    br
                                                    div(class="header2" style="text-align: left; padding-left: 10px") Images Used for Predicted Map
                                                    table(class="transparent_table" style="border: 1px solid white; width: 260px")
                                                        tr 
                                                            td 
                                                                label(class="radio_container") All 
                                                                    input(type="radio" id="pred_image_status_all" name="pred_image_status" value="all" checked)
                                                                    span(class="custom_radio")
                                                            td 
                                                                label(class="radio_container") Annotated 
                                                                    input(type="radio" id="pred_image_status_completed" name="pred_image_status" value="completed")
                                                                    span(class="custom_radio")

                                                //-
                                                    br
                                                    div(class="header2" style="text-align: left; padding-left: 10px") Map Comparison Type 
                                                    table(class="transparent_table" style="border: 1px solid white; width: 260px")
                                                        tr 
                                                            td 
                                                                label(class="radio_container") Side-by-side 
                                                                    input(type="radio" name="comparison_type" value="side_by_side" checked)
                                                                    span(class="custom_radio")
                                                            td 
                                                                label(class="radio_container") Difference 
                                                                    input(type="radio" name="comparison_type" value="diff")
                                                                    span(class="custom_radio")
                                                br
                                                hr
                                                br
                                                button(style="width: 140px; margin: 0px" id="build_map_button" class="table_button table_button_hover" onclick="build_map()")
                                                    i(class="fa-solid fa-gears" style="padding-right: 10px; color: white")
                                                    |
                                                    | Build Map 
                                                br
                                                br
                                                div(id="build_loader" class="loader" hidden)
                                            
                                            div(id="insufficient_annotation_container" hidden)
                                                div To build a density map, at least three images must be fully annotated.


                                    td(style="width: 100%" id="chart_container")                        

    script.
        let username = !{JSON.stringify(username)};
        let data = !{JSON.stringify(data)};