doctype html

html
    head
        title="Canola Counter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(href='/plant_detection/stylesheets/main.css' rel='stylesheet')
        link(href='/plant_detection/stylesheets/d3.css' rel='stylesheet')
        
        link(rel="stylesheet" href="/plant_detection/annotorious/annotorious.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

        script(src="https://code.jquery.com/jquery-3.6.0.js")

        script(src="/plant_detection/osd/openseadragon.min.js")
        script(src="/plant_detection/annotorious/openseadragon-annotorious.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-shape-labels@latest/dist/annotorious-shape-labels.min.js")

        script(src="https://d3js.org/d3.v4.js")

        script(type='text/javascript' src='/plant_detection/javascripts/viewer.js')
        script(type='text/javascript' src='/plant_detection/javascripts/count_chart.js')
        script(type='text/javascript' src='/plant_detection/javascripts/common.js')

    body
        div(id="container")

            include ./header.pug


            div(id="body")
                    
                //h(class="header2" style="font-size:26px") Viewer
                //hr
                br
                br



                div(id="annotate_container" class="grid-container-1")

                    div(class="half-round-item-1")

                        table(class="transparent_table")
                            tr
                                //
                                    td
                                        button(style="width: 100px" id="help_button" class="table_button table_button_hover")
                                            i(id="help_icon" class="fa-solid fa-circle-info" style="padding-right: 8px; color: white") 
                                            | Help

                                td(style="width:100%")
                                    h(id="image_set_name" class="header2" style="font-size: 22px; text-align: center; white-space: pre-wrap; color: white")


                        table(class="transparent_table")

                            tr
                                td(class="dark-bg" style="vertical-align:top")
                                    div(style="width: 280px;")

                                        table(class="transparent_table")


                                            tr

                                                td(style="text-align: left")
                                                    h(class="header2" style="width: 80px") Image: 
                                            
                                                td(style="width: 100%; text-align: left; padding-left: 12px")
                                                    h(id="image_name")


                                        
                                            tr
                                                td(style="text-align: left")
                                                    h(class="header2" style="width: 80px") Status:
                                                td(style="width:100%; text-align: left; padding-left: 12px")
                                                    h(id="image_status")
                                            
                                            tr
                                                td(style="text-align: left")
                                                    h(class="header2" style="width: 80px") Used for:
                                                td(style="width:100%; text-align: left; padding-left: 12px")
                                                    h(id="used_for")




                                        br
                                        hr
                                        br
                                        
                                        table(class="transparent_table" style="height: 40px")
                                            tr
                                                td(style="text-align: left;")
                                                    h(class="header2" style="width: 110px") Filter images: 
                                                td(style="width:100%")
                                                    select(id="filter_combo" class="nonfixed_dropdown")
                                                        option all
                                                        option completed
                                                        option unannotated
                                                        option training/validation 
                                                        option testing

                                                //-
                                                    select(id="dataset_combo" class="nonfixed_dropdown")
                                                        option All
                                                        option Training
                                                        option Validation
                                                        option Test
                                        br
                                        div(class="scrollable_area" style="height: 425px; border:none")
                                            table(id="images_table")

                                        br
                                        hr
                                        div(style="height: 5px")

                                        a(class="table_button table_button_hover" style="padding: 5px 10px;" id="download_button" download)
                                            i(class="fa fa-download fa-sm")
                                            span(style="margin-left: 10px") Download Counts 
                                        
                                        div(style="height: 5px")                                     


                                td(style="width: 100%" id="seadragon_viewer")


                                td(class="dark-bg" style="vertical-align:top")
                                    div(style="width: 280px;")
                                        div(style="height: 40px")
                                            table(class="transparent_table")
                                                td(style="text-align: left")
                                                    h(class="header2") Metric: 
                                                td(style="width: 100%")
                                                    select(id="chart_combo" class="nonfixed_dropdown")
                                                        //option Raw counts
                                                        //option MS COCO mAP
                                                        //option PASCAL VOC mAP
                                        div(id="count_chart" class="scrollable_area" style="height: 215px; border:none")
                                            div(id="count_chart_tooltip" class="tooltip" style="z-index: 10")
                                        
                                        
                                        hr

                                        h(class="header2" style="text-align:left") Overlays:

                                        div(class="scrollable_area" style="height: 320px; border:none")
                                            table(id="models_table" class="transparent_table")     


                                        hr
                                            
                                        table(class="transparent_table")
                                            tr
                                                td(style="width: 110px")
                                                    div(style="width: 110px; text-align:left" class="header2") Show scores:
                                                td(style="width:40px")
                                                    label(class="switch")
                                                        input(id="scores_checkbox" type="checkbox")
                                                        span(class="switch_slider round")
                                                td(style="width: 100%")

                                        table(class="transparent_table")
                                                
                                            tr
                                                td(style="width: 110px")
                                                    div(style="width: 110px; text-align:left" class="header2") Filter scores:
                                                td(style="width: 100%")
                                                    div(class="slidecontainer" style="width: 100%")
                                                        input(type="range" min="0.50" max="1" step="0.01" value="0.5" class="slider" id="confidence_slider")
                                                td(style="width: 50px")
                                                    div(id="slider_val" style="margin-left: 12px" class="header2") 0.50

    script.
        let data = !{JSON.stringify(data)};